# Secrets — nunca commitar
.env
.env.local
.env.*.local
secrets/

# Build
**/target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
.vscode/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

#Credenciais
secrets/
secrets/firebase-adminsdk.json
secrets/gen-lang-client-0922152835-firebase-adminsdk-fbsvc-525d75aa1f.json
secrets/gen-lang-client-0922152835-firebase-adminsdk-fbsvc-525d75aa1f.json
bootstrap/src/main/resources/credentials.json 
